#card-container {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
}
.card {
    border: 1px solid black;
    width: 95%;
    padding-bottom: 10%;
    background-color: var(--darker);
}
.card-btn{
    margin-top: 10px;
    width: 70%;
    margin-left: 15%;
}
.card-image{
    width: 70%;
    margin-left: 15%;
    object-fit: cover;
    object-position: 0 0;
}

.card h3{
    font-size: 2rem;
    width: 100%;
    text-align: center;
}